* @SH99999

/components/scale-radio-starter/ @SH99999
/components/scale-radio-tuner/ @SH99999
/components/scale-radio-autoswitch/ @SH99999
/components/scale-radio-bridge/ @SH99999
/components/scale-radio-fun-line/ @SH99999
/contracts/ @SH99999
/packaging/ @SH99999
/deploy/ @SH99999
/.github/ @SH99999
